html {
  box-sizing: border-box;
  font-family: 'Nanum Gothic', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #eee;
  font-size: 18px;
  // background-image: url("https://images.unsplash.com/photo-1526376043067-5af36c35cd6c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=aed342eea1c8593563be90e10c423dfe&auto=format&fit=crop&w=700&q=60");
  background-size: cover;

  .header {
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: 30px;
      width: 30px;
    }
  }
  canvas {
    margin: 0 auto;
    width: 960px;
    height: 540px;
  }
}

